@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Julius+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-height: fit-content;
}

:root {
  --vermelho: #7B0D0D;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.clip-custom {
  clip-path: ellipse(100% 90% at 50% 0%);
}

.border-input{
  border:1px solid ;
  border-radius:20px;

}

.border-input::placeholder{
  font-size: 14px;
}

  